{% extends 'base.html.twig' %}

{% block title %}Pixel Event
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/homeStyles.css')}}"/>
{% endblock %}

{% block body %}
	<main>
		<section id='section1' data-aos="fade-down">
			<div id='section1Card'>
				<article>
					<h2 class='h2'>Nation Sound</h2>
					<p>Contenu</p>
					<button class='btn'>Button</button>
				</article>
				<div>
					<img src="{{asset('assets/img/phone.png')}}" class="phone" alt="img phone">
				</div>
			</div>
		</section>
		<section id='section2' data-aos="fade-up" data-aos-offset="0" data-aos-duration="1500">
			<div class='uperContainer'>
				<div class='downContainer'>
					<ul id='slider-container' class='slider'>
						<li onclick={prev()} class='btn-prev'>
							<i class="fa-solid fa-arrow-left"></i>
						</li>
						{% for card in arrayCard %}
							<li class='card' data-aos="flip-up" data-aos-duration="2000">
								<h3>{{ card.titre }}</h3>
							</li>
						{% endfor %}
						<li onclick={next()} class='btn-next'>
							<i class="fa-solid fa-arrow-right"></i>
						</li>
					</ul>
					<article class='text-align-center'>
						<h3>yoyo</h3>
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius reprehenderit, earum sint sequi repudiandae ipsum voluptas quis impedit! Officia molestias quia labore molestiae tenetur autem ab dolore minima quasi perspiciatis?</p>
					</article>

				</div>

			</div>

		</section>
		<section id='section3'>
			<article class="container d-flex flex-column c-white" data-aos="fade-up" data-aos-duration="1500">
				<h2 class='h2 text-align-center'>Qui sommes nous</h2>
				<p class='text-align-center mb-2'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio sequi nostrum recusandae hic non, minus officiis dolorem nisi earum vel enim modi. Beatae nihil quam similique pariatur voluptates, iste itaque dolores blanditiis esse, a quis nobis saepe. Expedita illum iusto accusamus eos repudiandae veniam aut ipsum quis nostrum dolorum!</p>
				<ul class="d-flex j-content-around container mb-4">
					<li>
						<img src="{{asset('assets/logo/logoNS.jpg')}}" class='miniLogo' alt="logo">
					</li>
					<li>
						<img src="{{asset('assets/logo/logoNS.jpg')}}" class='miniLogo' alt="logo">
					</li>
					<li>
						<img src="{{asset('assets/logo/logoNS.jpg')}}" class='miniLogo' alt="logo">
					</li>
				</ul>
			</article>
			<article class="dispFlex container pb-4" data-aos="fade-up" data-aos-duration="1000">
				<div class="flex">
					<h2 class='h2'>Nos partenaires</h2>
					<p class='py-2 text-align-justify'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ab explicabo distinctio voluptatem ipsum dignissimos soluta ea ut! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora delectus, modi facere quos voluptas quibusdam impedit, fugiat, ea non voluptatibus nostrum? Odit quod ipsam ea distinctio necessitatibus perferendis voluptatibus nesciunt..</p>
					<ul class='d-flex  pb-2'>
						<li><img src="{{asset("assets/logo/logo.jpg")}}" class='miniLogo me-2' alt="image partenaire"></li>
						<li><img src="{{asset("assets/logo/logo.jpg")}}" class='miniLogo me-2' alt="image partenaire"></li>
						<li><img src="{{asset("assets/logo/logo.jpg")}}" class='miniLogo me-2' alt="image partenaire"></li>
					</ul>
				</div>
				<div class='imgSponsor flex'></div>
			</article>
		</section>
		<section class="py-4 bg-c-greenDark">
			<div data-aos="fade-zoom-in" data-aos-duration="1000">
				{% include './footer/footer.html.twig' %}
			</div>
		</section>
	</main>
{% endblock %}
