{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<main class='mainType'>
		<h2 class='t-center titre'>Inscription</h2>
		{{ form_start(form) }}
		<section class='container'>
			<section class='form-main'>
				<div class='form-Container'>
					<div>
						{{ form_label(form.email, 'Email') }}
						{{ form_row(form.email) }}
					</div>
					<div>
						{{ form_label(form.username, 'Pseudo') }}
						{{ form_row(form.username) }}
					</div>
				</div>
				<div class='form-Container'>
					<div>
						{{ form_label(form.address, 'Adresse') }}
						{{ form_row(form.address) }}
					</div>
					<div>
						{{ form_label(form.zipcode, 'Code postale') }}
						{{ form_row(form.zipcode) }}
					</div>
					<div>
						{{ form_label(form.city, 'Ville') }}
						{{ form_row(form.city) }}
					</div>
				</div>
			</section>
			<section class='form-main'>
				<div class='form-Container'>
					{{ form_label(form.password.first, 'Mot de passe') }}
					{{ form_row(form.password.first) }}
					{{ form_errors(form.password.second) }}
					{{ form_label(form.password.second, 'Confirmer votre mot de passe') }}
					{{ form_row(form.password.second) }}
					<div class="checkbox">
						{{ form_widget(form.RGPDConsent) }}
						{{ form_label(form.RGPDConsent) }}
					</div>
					<div class="checkbox">
						{{ form_widget(form.newLetter) }}
						{{ form_label(form.newLetter) }}
					</div>

					{{ form_row(form.valider) }}
				</div>
			</section>
		</section>

		{{ form_end(form) }}

	</main>
{% endblock %}
