<header>
	<div class="navbar">
		<a href="/">
			<img src="{{asset('assets/logo/logo.jpg')}}" class='logo' alt="logo">
		</a>
		<ul class='links'>
			<li>
				<a href="{{path('blog')}}">Blog</a>
			</li>
			<li>
				<a href="{{path('about')}}">Apropos</a>
			</li>
			<li>
				<a href="{{path('contact')}}">Contact</a>
			</li>
		</ul>
		<div class="navButtons">
			{% if app.user %}
				<a href="" class='actionButton pro'>{{app.user.username}}</a>
				<a href="{{path('app_logout')}}" class='actionButton'>Se deconnecter</a>
			{% else %}
				<a href="{{path('app_register')}}" class='actionButton pro'>S'inscrire</a>
				<a href="{{path('app_login')}}" class='actionButton'>Se connecter</a>
			{% endif %}
		</div>
		<div class="burgeurMenuButton">
			<i class="fa-solid fa-bars"></i>
		</div>
	</div>
	<div class="burgerMenu">
		<ul class='links'>
			<li>
				<a href="{{path('blog')}}">Blog</a>
			</li>
			<li>
				<a href="{{path('about')}}">Apropos</a>
			</li>
			<li>
				<a href="{{path('contact')}}">Contact</a>
			</li>
			<div class="divider"></div>
			<div class="buttonsBurgerMenu">
				{% if app.user %}
					<a href="" class='actionButton pro'>{{app.user.username}}</a>
					<a href="{{path('app_logout')}}" class='actionButton'>Se deconnecter</a>
				{% else %}
					<a href="{{path('app_register')}}" class='actionButton pro'>S'inscrire</a>
					<a href="{{path('app_login')}}" class='actionButton'>Se connecter</a>
				{% endif %}
			</div>
		</ul>
	</div>
</header>
