{% extends 'base.html.twig' %}

{% block title %}Pixel Event
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}

{% block body %}
	<main class='mainType'>
		<section class='container py-2'>
			<h1 class='titre t-center'>{{ page.titre }}</h1>
			<button class='btnRetour mb-2'>
				<a href="{{ path('admin_home') }}">retour</a>
			</button>


			<div class='box'>
				<h2 class='t-center'>Programme</h2>
				<div class='listItems'>
					{% for card in page.Programme %}
						<a href="{{ path(card.link) }}" class='card' style="background-image: url('{{ asset('assets/img/' ~ card.image) }}');">
							<h2>{{ card.titre }}</h2>
						</a>
					{% endfor %}
				</div>
			</div>

			<div class='box'>
				<h2 class='t-center'>Pages</h2>
				<div class="btnModifierLk my-2 t-center mx-4">
					<a href="{{path('admin_edit_page')}}">Ajouter</a>
				</div>
				<div class='listItems'>
					{% if pages is empty %}
						<h3>Il y'a aucune page pour le moment</h3>
					{% endif %}
					{% for page in pages %}
						<a href="{{ path('admin_page', {'id': page.id}) }}" class='card'>
							<h2>{{ page.name }}</h2>
						</a>
					{% endfor %}
				</div>
			</div>

			<div class='box'>
				<h2 class='t-center'>Autre</h2>
				<div class='listItems'>
					{% for card in page.Autre %}
						<a href="{{ path(card.link) }}" class='card' style="background-image: url('{{ asset('assets/logo/' ~ card.image) }}');">
							<h2>{{ card.titre }}</h2>
						</a>
					{% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
