{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}

{% block javascripts %}
	<script src='{{asset('assets/js/adminScript.js')}}' defer></script>
{% endblock %}

{% block body %}
	<main class="mainType">
		<h2 class='titre t-center'>Artistes</h2>
		<div class='d-flex a-items-center holder'>
			<div>
				{% include '_partials/btnRetour.html.twig' %}
			</div>
			<div class='button'>
				<a href="{{path('admin_edit_artiste')}}">Ajouter un artiste</a>
			</div>
		</div>

		<section class='holder my-2'>
			<h3>Liste de tous les artistes</h3>
			<div class='d-flex wrap'>
				{% for artiste in artistes %}
					<article class='cardArtiste m-2'>
						<h3 class='t-center'>{{artiste.name}}</h3>
						<div class='my-2 mx-2'>
							<button class='btnModifier'>
								<a href="{{path('admin_edit_artiste',{id:artiste.id})}}">Modifier</a>
							</button>
							<button class='btnSupprimer'>
								<a href="{{path('admin_delete_artiste', {id:artiste.id})}}">Supprimer</a>
							</button>
						</div>
					</article>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
