{% extends 'base.html.twig' %}

{% block title %}Edit Section
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}
{% block javascripts %}
	<script src='{{asset('assets/js/adminScript.js')}}' defer></script>
{% endblock %}

{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>Section</h2>
		<div class='d-flex a-items-center holder'>
			<div>
				{% include '_partials/btnRetour.html.twig' %}
			</div>
		</div>
		<section class='holder'>
			<section class='form-Container my-4 mx-1'>
				{{ form_start(form) }}
				<div>
					{{ form_row(form.category) }}
				</div>
				<button class='showStyle buttonAjouter mb-2'>
					<p>Styles</p>
				</button>
				<section class='boxStyle'>
					<div class="frame">
						{% if new is same as(false) %}
							<div class='d-flex g-2'>
								<div class="flex mb-2">
									<h3>Liste des styles :</h3>
									<ul class='mx-2'>
										{% for style in section.styles %}
											<li>-
												{{style.property}}
												:
												{{style.value}}</li>
										{% endfor %}
									</ul>
								</div>
								<div class="flex">
									<h3>Groupe de styles :</h3>
									<ul class='mx-2'>
										{% for clas in section.class %}
											<li>-
												{{clas.name}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						{% endif %}
						<div class='d-flex g-2 mt-1'>
							<div class='flex'>
								{{ form_row(form.styles, {'attr': {'class': 'entity style-option'} }) }}
							</div>
							<div class='flex'>
								{{ form_row(form.class, {'attr': {'class': 'entity style-option'} }) }}
							</div>
						</div>
					</div>
				</section>

				<section>
					{% if new is same as(false) %}
						<div>
							<h3>Contenu de la section :</h3>
							<div
								class='pageSection'>
								{# Si la section possède la class "header" #}
								{% if "header" in section.getClassName() %}
									{% for content in section.contents %}
										<div class="btnAbsSection">
											<button class='btnModifier'>
												<a href="{{path('admin_edit_content', {page:page.id, section:section.id, id:content.id})}}">Modifier</a>
											</button>
											<button class='btnSupprimer'>
												<a href="{{path('admin_delete_content', {page:page.id, section:section.id, id:content.id})}}">Supprimer</a>
											</button>
										</div>
										<section class='{{section.getClassName()}}' style="{{section.getConcatPrpertyValue()}}">
											<section {% if content.images is not empty %} class='{{content.getClassName()}}' style="background-image: url('{{ asset('uploads/page/' ~ content.images[0].name) }}')" {% endif %}>
												<article>
													{{ content.content|raw }}
												</article>
											</section>

										</section>
									{% endfor %}
								{% else %}
									{# Pour les autre type de section #}
									<section class='{{section.getClassName()}}' style="{{section.getConcatPrpertyValue()}}">
										{% for content in section.contents %}
											<div class='{{content.getClassName()}}' style="{{content.getConcatPrpertyValue()}}">
												<div class="btnAbsSection">
													<button class='btnModifier'>
														<a href="{{path('admin_edit_content', {page:page.id, section:section.id, id:content.id})}}">Modifier</a>
													</button>
													<button class='btnSupprimer'>
														<a href="{{path('admin_delete_content', {page:page.id, section:section.id, id:content.id})}}">Supprimer</a>
													</button>
												</div>
												<article>
													{{ content.content|raw }}
												</article>
												{% if content.images is not empty %}
													<div class="imageContainer">
														{% for image in content.images %}
															<img src="{{ asset('uploads/page/' ~ image.name) }}" class='imageSection' alt="image section">
														{% endfor %}
													</div>
												</div>
											{% endif %}
										{% endfor %}
									</section>
								{% endif %}

							</div>
						</div>
						{# Si la section est de catégory header, imppossible de rajouter du contenu #}
						{% if "header" in section.getClassName() %}
							<div style={{'display:none'}}>
								{{ form_row(form.content) }}
								{{ form_row(form.images) }}
							</div>
						{% else %}
							{# Pour tout autre catégory	on affiche le button et les champs pour ajouter du contenu #}
							<button class='buttonAjouter addContent mt-2'>
								<p>Ajouter du contenu</p>
							</button>
							<div class='moreContent'>
								{{ form_row(form.content) }}
								{{ form_row(form.images) }}
							</div>
						{% endif %}
					{% else %}
						{{ form_row(form.content) }}
						{{ form_row(form.images) }}
					{% endif %}
				</section>
				<div>
					{{ form_row(form.Valider) }}
				</div>
				{{ form_end(form) }}
			</section>
		</section>
	</main>
{% endblock %}
