{% extends 'base.html.twig' %}

{% block title %}Edit page
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}


{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>{{page.name}}</h2>
		<div class='d-flex holder g-1'>
			<button class='btnRetour'>
				<a href="{{path("admin_nationsound")}}">Retour</a>
			</button>
			<div class='buttonModifier'>
				<a href="{{path("admin_edit_page", {id:page.id})}}">Modifier la page</a>
			</div>
			<div class='buttonAjouter'>
				<a href="{{path("admin_edit_section", {page:page.id})}}">Ajouter une section</a>
			</div>
			<div class='buttonSupprimer'>
				<a href="{{path("admin_delete_page", {id : page.id})}}">Supprimer la page</a>
			</div>
		</div>

		<section class='holder py-2'>
			<div class='pageSection' style="{{page.getConcatPrpertyValue()}}">
				{% if page.sections is empty %}
					<h3>La page est pour le moment vide</h3>
				{% endif %}
				{% if headerSections is empty %}
					<h4>Il y'a aucun header pour le moment</h4>
				{% else %}
					{% for section in headerSections %}
						{# Section pour les boutons #}
						<div class='btnAbsSection'>
							<button class='btnModifier'>
								<a href="{{ path('admin_edit_section', { page: page.id, id: section.id }) }}">Modifier</a>
							</button>
							<button class='btnSupprimer'>
								<a href="{{ path('admin_delete_section', { page: page.id, id: section.id }) }}">Supprimer</a>
							</button>
						</div>
						{# Section #}
						{% for content in section.contents %}
							<section class='header' {% if content.images is not empty %} style="background-image: url('{{ asset('uploads/page/' ~ content.images[0].name) }}')" {% endif %}>
								<article class='d-flex a-items-center flex-direction-colum'>
									<p>{{ content.content|raw }}</p>
								</article>
							</section>
						{% endfor %}

					{% endfor %}

				{% endif %}
				{% if sectionSections is empty %}
					<h4>Il y'a aucune section pour le moment</h4>
				{% else %}
					{% for section in sectionSections %}
						{# Section pour les boutons #}
						<div class='btnAbsSection'>
							<button class='btnModifier'>
								<a href="{{ path('admin_edit_section', { page: page.id, id: section.id }) }}">Modifier</a>
							</button>
							<button class='btnSupprimer'>
								<a href="{{ path('admin_delete_section', { page: page.id, id: section.id }) }}">Supprimer</a>
							</button>
						</div>
						{# Section #}
						<section class='{{section.getClassName()}}' style="{{section.getConcatPrpertyValue()}}">
							{% for content in section.contents %}
								<div class='{{content.getClassName()}}' style="{{content.getConcatPrpertyValue()}}">
									<article>
										{{ content.content|raw }}
									</article>
									{% if content.images is not empty %}
										<div class="imageContainer">
											{% for image in content.images %}
												<img src="{{ asset('uploads/page/' ~ image.name) }}" class='imageSection' alt="image section">
											{% endfor %}
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</section>
					{% endfor %}
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
