{% extends 'base.html.twig' %}

{% block title %}Edit page
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}


{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>{{page.name}}</h2>
		<div class='d-flex holder g-1'>
			<button class='btnRetour'>
				<a href="{{path("admin_nationsound")}}">Retour</a>
			</button>
			<div class='buttonModifier'>
				<a href="{{path("admin_edit_page", {id:page.id})}}">Modifier la page</a>
			</div>
			<div class='buttonAjouter'>
				<a href="{{path("admin_edit_section", {page:page.id})}}">Ajouter une section</a>
			</div>
			<div class='buttonSupprimer'>
				<a href="{{path("admin_delete_page", {id : page.id})}}">Supprimer la page</a>
			</div>
		</div>

		<section class='holder py-2'>
			<div class='pageSection' style="{{page.getConcatPrpertyValue()}}">
				{% if page.sections is empty %}
					<h3>La page est pour le moment vide</h3>
				{% endif %}
				{% if sectionSections is empty %}
					<h4>Il y'a aucune section pour le moment</h4>
				{% else %}
					{% for section in sectionSections %}
						{# Section pour les boutons #}
						<div class='btnAbsSection'>
							<button class='btnModifier'>
								<a href="{{ path('admin_edit_section', { page: page.id, id: section.id }) }}">Modifier</a>
							</button>
							<button class='btnSupprimer'>
								<a href="{{ path('admin_delete_section', { page: page.id, id: section.id }) }}">Supprimer</a>
							</button>
						</div>
						{# Section #}

						{% if "header" in section.getClassName() %}
							{# Si la section possède la classe header #}
							<section class='{{section.getClassName()}}' style="{{section.getConcatPrpertyValue()}}">
								{% for content in section.contents %}
									<section {% if content.images is not empty %} class='{{content.getClassName()}}' style="background-image: url('{{ asset('uploads/page/' ~ content.images[0].name) }}'); {{content.getConcatPrpertyValue()}}" {% endif %}>
										<article>
											{{ content.content|raw }}
										</article>
									</section>
								{% endfor %}
							</section>
						{% else %}
							{# Pour les autre type de section #}
							<section class='{{section.getClassName()}}' style="{{section.getConcatPrpertyValue()}}">
								{% for content in section.contents %}
									{% if "header" in content.getClassName()  %}
										{# Si le contenu possède la classe header #}
										<section {% if content.images is not empty %} class='{{content.getClassName()}}' style="background-image: url('{{ asset('uploads/page/' ~ content.images[0].name) }}'); {{content.getConcatPrpertyValue()}}" {% endif %}>
											<article>
												{{ content.content|raw }}
											</article>
										</section>
									{% else %}
										{# Pour les autre type de contenu #}
										<div class='{{content.getClassName()}}' style="{{content.getConcatPrpertyValue()}}">
											<article>
												<p>{{ content.content|raw }}</p>
											</article>
											{% if content.images is not empty %}
												<div class="imageContainer">
													{% for image in content.images %}
														<img src="{{ asset('uploads/page/' ~ image.name) }}" class='imageSection' alt="image section">
													{% endfor %}
												</div>
											{% endif %}
										</div>
									{% endif %}
								{% endfor %}
							</section>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
