{% extends 'base.html.twig' %}

{% block title %}Edit page
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}

{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>{{page.name}}</h2>
		<div class='d-flex a-items-center container'>
			<div class="my-2">
				{% include '_partials/btnRetour.html.twig' %}
			</div>
			<div class='button'>
				<a href="{{path("admin_edit_section", {page:page.id})}}">Ajouter une section</a>
			</div>
		</div>

		<section class='container py-2'>
			{% if page.sections is empty %}
				<h3>La page est pour le moment vide</h3>
			{% endif %}
			{% for section in page.sections %}
				{% if section.category == 'section' %}
					<article class='pageSection py-2 my-2 container'>
						<h2 class='t-center mb-2'>{{ section.title }}</h2>
						<hr>
						<button class='btnModifier my-2'>
							<a href="{{ path("admin_edit_section", { page: page.id, id: section.id }) }}">Modifier</a>
						</button>
						<p>{{ section.content }}</p>
						<div class="d-flex wrap j-content-center">
							{% for image in section.images %}
								<img src="{{ asset('uploads/page/' ~ image.name) }}" class='sectionImg' alt="image section">
							{% endfor %}
						</div>
					</article>
				{% endif %}
			{% endfor %}
		</section>
	</main>
{% endblock %}
