{% extends 'base.html.twig' %}

{% block title %}Edit page
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/adminStyles.css')}}"/>
{% endblock %}

{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>{{page.name}}</h2>
		<div class='d-flex container g-1'>
			<button class='btnRetour'>
				<a href="{{path("admin_nationsound")}}">Retour</a>
			</button>
			<div class='buttonModifier'>
				<a href="{{path("admin_edit_page", {id:page.id})}}">Modifier la page</a>
			</div>
			<div class='buttonAjouter'>
				<a href="{{path("admin_edit_section", {page:page.id})}}">Ajouter une section</a>
			</div>
			<div class='buttonSupprimer'>
				<a href="{{path("admin_delete_page", {id : page.id})}}">Supprimer la page</a>
			</div>
		</div>

		<section class='container py-2'>
			{% if page.sections is empty %}
				<h3>La page est pour le moment vide</h3>
			{% else %}
				{% if headerSections is empty %}
					<h4>Il y'a aucun header pour le moment</h4>
				{% else %}
					<div class='pageSection'>
						{% for section in headerSections %}
							{# Section pour les boutons #}
							<div class='btnAbsSection'>
								<button class='btnModifier'>
									<a href="{{ path('admin_edit_section', { page: page.id, id: section.id }) }}">Modifier</a>
								</button>
								<button class='btnSupprimer'>
									<a href="{{ path('admin_delete_section', { page: page.id, id: section.id }) }}">Supprimer</a>
								</button>
							</div>
							{# Section #}
							<section class='header' {% if section.images is not empty %} style="background-image: url('{{ asset('uploads/page/' ~ section.images[0].name) }}')" {% endif %}>
								<article class='d-flex a-items-center flex-direction-colum'>
									<h2 class=''>{{ section.title }}</h2>
									<p>{{ section.content|raw }}</p>
								</article>
							</section>
						{% endfor %}
						{% if sectionSections is empty %}
							<h4>Il y'a aucune section pour le moment</h4>
						{% else %}
							{% for section in sectionSections %}
								{# Section pour les boutons #}
								<div class='btnAbsSection'>
									<button class='btnModifier'>
										<a href="{{ path('admin_edit_section', { page: page.id, id: section.id }) }}">Modifier</a>
									</button>
									<button class='btnSupprimer'>
										<a href="{{ path('admin_delete_section', { page: page.id, id: section.id }) }}">Supprimer</a>
									</button>
								</div>
								{# Section #}
								<section class='{{section.getClassName()}}'>
									<article style="{{section.getConcatPrpertyValue()}}">
										<h2 class='t-center'>{{ section.title }}</h2>
										<article>{{ section.content|raw }}</article>
									</article>
									<div class="imageContainer">
										{% for image in section.images %}
											<div classname='d-flex a-items-center'>
												<img src="{{ asset('uploads/page/' ~ image.name) }}" class='imageSection' alt="image section">
											</div>
										{% endfor %}
									</div>
								</section>
							{% endfor %}
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</section>
	</main>
{% endblock %}
